# Miscellany files
include LICENSE
include README.rst
# The tests folder is removed
prune tests
# Data files are added
include data_commonworks/*.py
include data_commonworks/*.csv
include data_commonworks/*.yml
# Configuration files are added
include config_commonworks/*.yml